[submodule "wasmception"]
	path = wasmception
	url = https://github.com/gwsystems/wasmception.git
	branch = sfbase
[submodule "applications/wasm_apps"]
	path = applications/wasm_apps
	url = https://github.com/gwsystems/wasm_apps.git
