/target
**/*.rs.bk
**/.DS_Store

a.out*
**/*.o
**/*.elf
input.wasm
output.bc

obj_zips/*

code_benches/*/bin/
code_benches/custom_sqlite/test.db
code_benches/benchmarks.csv

runtime/cortex_m_glue/*.log

awsm.iml
.idea

.vagrant
Vagrantfile
*-cloudimg-console.log

wasi-sdk
.vscode
